---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
//import FAQs from '~/components/widgets/FAQs.astro';
//import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'ACOUSPHEM - Acoustic Phenomena in Matter.',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <div class="flex justify-center items-center", style="height: 90svh;">
  <Hero
    actions={[
    ]}>
    <Fragment slot="title">
      <span class="font-light">ACOUSPHEM</span>
      <span class="block text-blue-600 text-xl md:text-2xl tracking-wide font-medium">Acoustic Phenomena in Matter.</span>
    </Fragment>

    <Fragment slot="subtitle">
      Our laboratory investigates <span class="font-bold">acous</span>tic <span class="font-bold">phe</span>nomena in <span class="font-bold">m</span>atter.
    </Fragment>
  </Hero>
  </div>

  <!-- Note Widget ******************* 
  <Note />
  --> 
  
  <hr class="solid">
  
    <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        icon:"tabler:school",
        title: 'Description:',
        description:
          'The work of the laboratory Acoustic Phenomena in Matter (ACOUSPHEM) aims at understanding the influence of multiple physical phenomena on the propagation of waves in complex heterogeneous media such as multiscale permeable materials, metamaterials, as well as active and living media. We carry out theoretical, numerical, and experimental studies inspired by applications in acoustic engineering and other areas of engineering.',
          callToAction: {
          text: 'See our members',
          icon: 'tabler:chevron-right',
          href: '/members',
        },
      },
      {
        title: 'Affiliation:',
        description: `Our laboratory is affiliated to the Institute of Acoustics of the Faculty of Engineering Sciences at University Austral of Chile, and actively engages with internal and external collaborators.`,
        callToAction: {
          text: 'See our collaborators',
          icon: 'tabler:chevron-right',
          href: '/collabs',
        },
      },
    ]}
    image={{
      src: '~/assets/images/Pic_AC_4Typesl.png',
      alt: 'Porous material',
    }}
    callToAction={{
      text: 'Research Page',
      icon: 'tabler:chevron-right',
      href: '/research',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Research
      </h3>
      <h2 class="text-m tracking-tight text-gray-600 dark:text-gray-400 sm:text-l mb-2">Please see our research webpage for more details.</h2>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find content in our Blog"
    information={``}
  />

  <!-- FAQs Widget ******************* 
  
  <FAQs
  title="Frequently Asked Questions"
  subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
  tagline="FAQs"
  classes={{ container: 'max-w-6xl' }}
  items={[
  {
    title: 'Why AstroWind?',
    description:
    "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
  },
  {
    title: 'What do I need to start?',
    description:
    'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
  },
  {
    title: 'How to install the Astro + Tailwind CSS template?',
    description:
    "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
  },
  {
    title: "What's something that you don't understand?",
    description:
    "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
  },
  {
    title: 'What is something that you would like to try again?',
    description:
    "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
  },
  {
    title: 'If you could only ask one question to each person you meet, what would that question be?',
    description:
    "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
  },
  ]}
  />
  -->
  
  <!-- Stats Widget ****************** 
  
  <Stats
  stats={[
  { title: 'Downloads', amount: '132K' },
  { title: 'Stars', amount: '24.8K' },
  { title: 'Forks', amount: '10.3K' },
  { title: 'Users', amount: '48.4K' },
  ]}
  />
  -->
  
  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Follow on',
        href: 'https://instagram.com/acousphem',
        target: '_blank',
        icon: 'tabler:brand-instagram',
      },
      /*
      {
        variant: 'primary',
        text: 'Follow on',
        href: '#',
        icon: 'tabler:brand-x',
      }
      */
    ]}
  >
    <Fragment slot="title">
      <!-- Astro&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span> -->
      Dont forget to follow us!
    </Fragment>

    <Fragment slot="subtitle">
      We are on Instagram, follow us to get lastest updates and to see interest content.
    </Fragment>
  </CallToAction>
</Layout>
