---
//import Layout from '~/layouts/PageLayout.astro';
import Layout from '~/layouts/PageLayoutSoon.astro';


import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'AcousPhem - An Acoustics Laborathory',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <div class="flex justify-center items-center", style="height: 90svh;">
  <Hero
    actions={[
    ]}>
    <Fragment slot="title">
      <span class="font-light">ACOUSPHEM</span>
      <span class="block text-blue-600 text-xl md:text-2xl tracking-wide font-medium">Acoustic Phenomena in Matter.</span>
    </Fragment>

    <Fragment slot="subtitle">
      Our laborathory investigates <span class="font-bold">acous</span>tic <span class="font-bold">phe</span>nomena in <span class="font-bold">m</span>atter.
    </Fragment>
  </Hero>
  </div>
</Layout>
